/* fonts taken from google fonts at fonts.google.com */
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Layout elements */
html, body, div, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 400px;
    background-image: url("../images/seattle-skyline-mobile.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.middle {
    width: 100%;
    height: 150px;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom {
    width: 100%;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    width: 100%;
}

.pos1 {
    display: none;
}

.pos2{
    background-image: url("../images/seattle-market-mobile.jpg");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 225px;
}


/* Style elements */
h1 {
    font-size: 2.5em;
    font-family: 'Tangerine', cursive;
    color: azure;
    margin: 5px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: azure;
    margin: 5px;
}

@media screen and (orientation: landscape) {
    .top {
        height: 350px;
    }
}