/* fonts taken from google fonts at fonts.google.com */
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Layout elements */
html, body, div, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100%; height: 100%;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
    height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.top {
    width: 100%;
    height: 35%;
    min-height:150px;
    background-image: url("images/seattle-skyline-large.jpg");
    background-position: center;
}

.middle {
    width: 100%;
    height: 25%;
    min-height: 100px;
    background-color: #474747;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom {
    width: 100%;
    height: 40%;
    min-height: 200px;
}

.bottom img {
    width: 100%;
    height: 100%;
}

/* Style elements */
h1 {
    font-size: 6vw;
    font-family: 'Tangerine', cursive;
    color: azure;
    margin: 10px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vw;
    color: azure;
    margin: 10px;
}
